.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Fondo1 {
  background-image: url("https://hdqwalls.com/wallpapers/trees-minimalism-4k.jpg");
  height: 50vh;
  background-position: top;
}

.Fondo2 {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/544175270236479682/F3C4B1C85C215023C1A3B7AAE5EA3973A2727280/");
  height: 50vh;
  background-position: top;
}
.Fondo3 {
  background-image: url("https://66.media.tumblr.com/18007427df3a1ed5221d4b1328b2ff40/tumblr_pyyoho3lDE1ywg6aio1_1280.jpg");
  height: 50vh;
  background-position: top;
}
.Fondo_Inicial {
  background-image: url("https://images.unsplash.com/photo-1505807557511-bc38492556a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  height: 80vh;
  background-position: center;
}
.FondoAlternativo {
  background-image: url("https://i.pinimg.com/originals/ae/32/32/ae3232ef2eeaac0d2a55984c017dfd0b.jpg");
  height: 50vh;
  background-position: top;
}

.PanelImagen {
  animation-duration: 2s;
  animation-name: slidein;
}

.sombra {
  box-sizing: border-box;
  border-radius: 0.4rem;
  overflow: hidden;
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.c {
  position: relative;
  width: 90vmin;
  height: calc(90vmin * 9 / 16);
  margin: auto;
  overflow: hidden;
  box-shadow: 0 1.25em 1em -0.5em #0005;
}

.i {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.c:hover .img {
  -webkit-transform: translateX(-3%);
  transform: translateX(-3%);
  transition-duration: 5s;
}

:root {
  --s1-w: 40vmin;
  --s2-w: 60vmin;
  --s3-w: 10vmin;
}

@-webkit-keyframes move-x {
  50% {
    -webkit-transform: translateX(var(--x1));
    transform: translateX(var(--x1));
  }
  100% {
    -webkit-transform: translateX(var(--x2));
    transform: translateX(var(--x2));
  }
}

@keyframes move-x {
  50% {
    -webkit-transform: translateX(var(--x1));
    transform: translateX(var(--x1));
  }
  100% {
    -webkit-transform: translateX(var(--x2));
    transform: translateX(var(--x2));
  }
}
.s1,
.s2,
.s3 {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-animation: gg 0.5s ease-out forwards;
  animation: gg 0.5s ease-out forwards;
  pointer-events: none;
}
.c:hover .s1,
.c:hover .s2,
.c:hover .s3 {
  -webkit-animation-name: move-x;
  animation-name: move-x;
}

.s1 {
  left: 100%;
  z-index: 1;
  width: var(--s1-w);
  background-color: #fff;
  mix-blend-mode: difference;
  --x1: -110vmin;
  --x2: -50vmin;
}

.s2 {
  z-index: 2;
  width: calc(var(--s2-w) * 2);
  left: calc(100% + var(--s1-w));
  background-color: #000;
  --x1: -110vmin;
  --x2: -90vmin;
}

.s3 {
  z-index: 2;
  width: 10vmin;
  right: 100%;
  background-color: #000;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  --x1: 0;
  --x2: 100%;
}

h1 {
  text-align: center;
}

.info {
  align-self: flex-end;
  margin: 3rem 1rem 1rem;
  text-align: right;
  font-size: 0.85em;
  font-style: italic;
  font-family: serif;
  opacity: 0.75;
}
.info a {
  color: inherit;
}
.punto {
  font-size: 15px;
  color: green;
}
.punto td:nth-child(1) {
  color: #ce5937;
  font-size: 15px;
}
.punto td {
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 2px 10px;
  vertical-align: middle;
}

.dataMatrix {
  margin-top: 24px;
  width: unset;
}
main table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
  font-size: 0.875rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
